services:
  lambda-scrape:
    image: ${AWS_URI_PREFIX}/${AWS_ECR_REPO}/lambda-scrape:0.1
    env_file:
    - .env
    build:
      context: .
      dockerfile: functions/scrape/Dockerfile
      target: local
      args:
        AWS_URI_PREFIX: ${AWS_URI_PREFIX}

  lambda-tokenize:
    image: ${AWS_URI_PREFIX}/${AWS_ECR_REPO}/lambda-tokenize:0.1
    env_file:
    - .env
    build:
      context: .
      dockerfile: functions/tokenize/Dockerfile
      target: local
      args:
        AWS_URI_PREFIX: ${AWS_URI_PREFIX}
    volumes:
      - ./functions/tokenize/src/app.py:/var/task/app.py
      - ./functions/tokenize/src/main.py:/var/task/main.py
      - ./functions/tokenize/src/ignored_nouns.txt:/var/task/ignored_nouns.txt

  lambda-train-kvector:
    image: ${AWS_URI_PREFIX}/${AWS_ECR_REPO}/lambda-train-kvector:0.1
    build:
      context: .
      dockerfile: functions/train-kvector/Dockerfile
      args:
        AWS_URI_PREFIX: ${AWS_URI_PREFIX}
  
  lambda-train-kvectors:
    image: ${AWS_URI_PREFIX}/${AWS_ECR_REPO}/lambda-train-kvectors:0.1
    build:
      context: .
      dockerfile: functions/train-kvectors/Dockerfile
      args:
        AWS_URI_PREFIX: ${AWS_URI_PREFIX}

  lambda-aggregate-data:
    image: ${AWS_URI_PREFIX}/${AWS_ECR_REPO}/lambda-aggregate-data:0.1
    build:
      context: .
      dockerfile: functions/aggregate-data/Dockerfile
      args:
        AWS_URI_PREFIX: ${AWS_URI_PREFIX}

  lambda-api:
    image: ${AWS_URI_PREFIX}/${AWS_ECR_REPO}/lambda-api:0.1
    env_file:
    - .env
    build:
      context: .
      dockerfile: functions/api/Dockerfile
      target: local
      args:
        AWS_URI_PREFIX: ${AWS_URI_PREFIX}
    ports:
    - "8000:8000"
