services:
  lambda-scrape:
    image: ${AWS_URI_PREFIX}/${AWS_ECR_REPO}/lambda-scrape:0.1
    build:
      context: .
      dockerfile: functions/scrape/Dockerfile
      args:
        AWS_URI_PREFIX: ${AWS_URI_PREFIX}

  lambda-tokenize:
    image: ${AWS_URI_PREFIX}/${AWS_ECR_REPO}/lambda-tokenize:0.1
    build:
      context: .
      dockerfile: functions/tokenize/Dockerfile
      args:
        AWS_URI_PREFIX: ${AWS_URI_PREFIX}

  lambda-generate-kvector:
    image: ${AWS_URI_PREFIX}/${AWS_ECR_REPO}/lambda-generate-kvector:0.1
    build:
      context: .
      dockerfile: functions/generate-kvector/Dockerfile
      args:
        AWS_URI_PREFIX: ${AWS_URI_PREFIX}
